@import "variables.scss";

@font-face {
  font-family: "Bravura";
  src: url("fonts/bravura/Bravura.otf") format("opentype");
}
@font-face {
  font-family: "BravuraText";
  // src: url("fonts/bravura/BravuraText.otf") format("opentype");
  src: url("fonts/bravura/BravuraText.woff2") format("woff2");
}

@font-face {
  font-family: "LelandText";
  src: url("fonts/leland/LelandText.otf") format("opentype");
}

body {
  color: $primary;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#interface {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  width: 100vw;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

#main-pitch {
  min-height: 100px;
  padding: 2rem 1rem;
  background: orange;
  margin: 0.375rem;
  border: 3px solid #51aaa3;
  font-size: 3em;
}

.change-pitch {
  padding: 1rem 1rem;
  background: #e2f0ef;
  border: 3px solid #51aaa3;
  color: #51aaa3;
  margin: 0.375rem;
  flex-grow: 1;
  font-size: 30pt;
}

.smufl {
  font-family: BravuraText;

  font-variant-ligatures: normal;
  font-size: 1.5em;
}
.small-degree {
  vertical-align: super;
  font-size: 0.5em;
}
/*DEKTOP LAYOUT*/
@media only screen and (min-width: 1024px) {
  body {
    background-color: lightblue;
  }
  #interface {
    width: 50vw;
  }
}
